body#home {
    display: block;
    margin: 0px;
}

div#site-wrapper {
    font-family: "apercu"; /* -apple-system, system, sans-serif;*/
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div#inner-wrapper {
    width: 60%;
    min-width: 900px;   
    display: flex; 
    flex-direction: column;
}

div#background{
    position: absolute;
    top: 0%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

img#background-art {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header#header-wrapper {
    min-height: 300px;
}

div#logo-wrapper {
    margin-top: 40px;
}

img#logo {
    width: 120px;
    height: 60px;
    cursor: pointer;
}

div#about-and-search {
    display: flex;
    justify-content: space-between;   
}

div#about-wrapper {
    width: 45%;
}

h1#about-header {
    color: #f74843;
    cursor: pointer;
    font-size: 35px;    
}

a#about-header-text:hover {
    cursor: pointer;
    color: white;
}

a#about-text {
    color: white;
    font-size: 25px;
}

div#search-wrapper {
    width: 45%;
    display: flex;
    flex-direction: row-reverse;
}

div#search-offset {
    align-self: flex-end;
    border-bottom: white, 2px;
    /*justify-self: center;*/
}

a#search-form-text {
    color: white;
    font-size: 25px;
}

section#section-wrapper {
    font-size: 70px;
    color: #f74843;
}

ul#section-tag-list {
    padding: 0px; /* remove indent before each list tag */
    list-style-type: none;
    padding-top: 20px;
    color: #f74843;
}

li.section-tag {
    margin-top: 20px;    
}

a.section-tag-text:hover {
    cursor: pointer;
    color: white;
}

footer#main-footer {
    margin-top: 50px;
    background-color: #f74843;
    font-family: "apercu", -apple-system, system, sans-serif;
    display: flex;
    justify-content: center;
}

div#footer-wrapper {
    min-width: 900px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 30px;
}

div#cdr-footer {
    color: white;
    margin-top: 10px;
}

a#cdr-footer-text:hover {
    cursor: pointer;
}

div.footer-box {
    color: white;
}

ul.footer-list {
    padding: 0px; /* remove indent before each list tag */
    list-style-type: none;
}

li.fisrt-footer-list-item {
    color: white;
    margin-bottom: 10px;
}

li.footer-list-tag {
    color: black;
    margin-bottom: 10px;
}

a.footer-list-text:hover {
    color: white;
    cursor: pointer;
}

div#gog-logo {
    margin-top: 10px;
}

img#gog-logo-img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}